:root {
	--main-bg-color: #edf2fb;
	--nav-bar-color: #759cc9;
	--front-of-card: #ccdbfd;
	--back-of-card: #d7e3fc;
	--button-color: #aeaeae;
	--font-button: ;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Sofia Sans', sans-serif;
}

body {
	background: var(--main-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header {
	box-shadow: 0 3px 10px -2px black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: wrap;
	background-color: var(--nav-bar-color);
	position: sticky;
	top: 0;
	z-index: 10;
	width: 100vw;
	height: 10%;
	overflow: hidden;
	margin: 0 auto;
}

.fieldDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 1px solid;
	padding: 5px;
	margin-right: 10%;
}

input {
	margin: 5px;
	background-color: var(--main-bg-color);
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.cardContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	height: 100%;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
	background-color: transparent;
	box-shadow: 3px 3px 5px black;
	margin: 10px;
	width: 300px;
	height: 400px;
	border: 2px solid black;
	border-radius: 5%;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:active .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: var(--nav-bar-color);
	color: black;
	border-radius: 5%;
}

/* Style the back side */
.flip-card-back {
	line-height: 2rem;
	background-color: var(--back-of-card);
	color: black;
	border-radius: 5%;
	transform: rotateY(180deg);
}

.deleteBtnStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--button-color);
	font-weight: bolder;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	font-size: 1.3rem;
	height: 2.3rem;
	width: 6rem;

	cursor: pointer;
	font-family: 'Sofia Sans', sans-serif;
	margin-left: 10px;
}

.deleteBtnStyle:active {
	box-shadow: inset 1px 1px 1px black;
}

.addBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--button-color);
	font-weight: bolder;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	font-size: 1.3rem;
	height: 2.3rem;
	width: 6rem;
	cursor: pointer;
	font-family: 'Sofia Sans', sans-serif;
	margin-left: 10px;
	padding: 3px;
}
.addBtn:active {
	box-shadow: inset 1px 1px 1px black;
}

.logoDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: x-large;
	margin-right: auto;
	padding-left: 4rem;
}

.logoDiv > h1 {
	padding-left: 20px;
	color: white;
}
#logo {
	height: 100%;
}

/* This code changes the look of the input fields in the header */
#questionField,
#answerField,
#exampleField,
#typeOf {
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	font-size: 1.3rem;
}

/* used for centering label text
.labelText {
	text-align: center;
}
*/
.icon {
	height: 20px;
	width: 20px;
}

nav{
    padding: 16px;
    background-color: #759cc9;
}
